@import url(https://fonts.googleapis.com/css?family=Megrim);

.titulos_header{
  padding-bottom:5px;
  padding-top:10px;
  font-size: 30px;
  font-weight:bold;
  max-width: 80%;

}
.menuestilo{
	font-size:14px;
	font-family: Arial;
	color:yellow;
	text-decoration: none;
}
.eventos-busqueda{
  border: none !important;
  background: none !important;
}
.navbar_eventos{
  padding-right: 0px;
  white-space:normal;
  align-content: center;
  max-height:45px;
  border-left: none;
  border-right: none;
}
.navbar_compartir{
  padding-right: 0px;
  max-height:45px;
  white-space:normal;
  color: whitesmoke!important;
  background-color: #f40b16 !important;
  border-right: none;
}
.titulomenu{
  font-family: 'Megrim', cursive;
  margin:3rem auto -2rem;
  font-size:4rem;
  letter-spacing:-2px;
  color:#AC1313;
  font-size: 50px;
  margin-bottom: 25px;
  font-weight: bold;
}
.imagen-perfil{
  width:94% !important;
  height:100%!important;
  border-radius: 50% !important;
  margin-left: 1%;
 }
 .listview_no_border{
  border:none !important;
 }
 .listview_no_side{
  border-left:none !important;
  border-right:none !important;
 }
 li.ui-first-child > a{
   border:none !important;
 }
 /*li.ui-last-child > a{
   border-bottom:none !important;
 }*/
 .titulos_listas{
   color:#f40b16;
   font-size:18px;
   font-weight: 500;
 }
 .navbar_editar{
   padding-right: 0px;
   max-height:45px;
   white-space:normal;
   color: red!important;
   background-color: white !important;
   border-left: none;
 }

/*BOTON DONACIONES*/
  .bmc-button img{
    width: 35px !important;
    margin-bottom: 1px !important;
    box-shadow: none !important;
    border: none !important;
    vertical-align: middle !important;
    }
    
    .bmc-button{
      padding: 7px 5px 7px 10px !important;
      line-height: 35px !important;
      height:51px !important;
      min-width:217px !important;
      text-decoration: none !important;
      display:inline-flex !important;
      color:#ffffff !important;
      background-color:red !important;
      border-radius: 5px !important;
      border: 1px solid transparent !important;
      padding: 7px 5px 7px 10px !important;
      font-size: 22px !important;
      letter-spacing: 0.6px !important;
      box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;
      -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
      margin: 0 auto !important;
      font-family:'Cookie', cursive !important;
      -webkit-box-sizing: border-box !important;
      box-sizing: border-box !important;
      -o-transition: 0.3s all linear !important;
      -webkit-transition: 0.3s all linear !important;
      -moz-transition: 0.3s all linear !important;
      -ms-transition: 0.3s all linear !important;
      transition: 0.3s all linear !important;
      }

      .bmc-button:hover, .bmc-button:active, .bmc-button:focus {
        -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
        text-decoration: none !important;
        box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
        opacity: 0.85 !important;
        color:#ffffff !important;
      }

      /* latin */
    @font-face {
      font-family: 'Cookie';
      font-style: normal;
      font-weight: 400;
      src: local('Cookie-Regular'), url(https://fonts.gstatic.com/s/cookie/v11/syky-y18lb0tSbf9kgqS.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }